$top-bar-color:	#80C6DC;

input.rounded {
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

input.quick-access {
    width: 250px;
}

ul#quick-access-menu {
    background-color: #fff;
}

ul#quick-access-menu li .right {
    color: #888;
    margin: 0.9rem;
}

ul#quick-access-menu li a {
    padding: 0.9rem;
}

ul#quick-access-menu.f-dropdown {
    min-width: 45%;
}

footer .top-bar {
    background-color: #333;
}

footer div.row {
    background-color: #444;
    max-width: 80rem;
    padding: 1rem;
}

div.row dl.sub-nav {
    line-height: 0.5;
    margin-top: 5px;
    margin-left: 10px;
}

div.row.collapse.monitoring-panel .columns {
    min-height: 300px;
    padding-right: 2rem;
    padding-left: 2rem;
}

div.right-panel {
}

div.left-panel {
  border-right: solid 1px #333;
}