$top-bar-color:	#80C6DC;
$hover: #EEE;
$used-blue: #008cba;

input.rounded {
    -webkit-appearance: none;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

input.quick-access {
    width: 250px;
}

ul#quick-access-menu {
    background-color: #fff;
}

ul#quick-access-menu li .right {
    color: #888;
    margin: 0.9rem;
}

ul#quick-access-menu li a {
    padding: 0.9rem;
}

ul#quick-access-menu li.help-item {
    background-color: #EEE;
}

ul#quick-access-menu.f-dropdown {
    min-width: 45%;
}

ul.dropdown li {
    //border-left: solid 1px black;
    box-shadow: -1px 1px 5px #888888;
}

ul.breadcrumbs {
    background-color: $hover;
}

footer .top-bar {
    background-color: #333;
}

footer .side-nav {
    color:#BBB;
}

footer div.row {
    background-color: #555;
    max-width: 80rem;
    padding: 1rem;
}

footer {
  border-bottom: solid 5px #333;
}

div.row dl.sub-nav {
    line-height: 0.5;
    margin-top: 5px;
    margin-left: 10px;
}

div.row.collapse.monitoring-panel .columns {
    min-height: 300px;
    padding-right: 2rem;
    padding-left: 2rem;
}

div.right-panel {
}

div.left-panel {
  //border-right: solid 1px #333;
}

div.top-bar-wrapper {
    box-shadow: 0px 1px 7px #888888;
}

input#quick-access {
    top: 8px;
}

.monitoring-panel hr {
    border-top: solid 1px #333;
}