<!doctype html>
<html class="no-js" lang="en" ng-app="cubbyholeApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CubbyHole</title>
    <link rel="stylesheet" href="css/app.css" />
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/chart/Chart.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>

  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="index.html">CubbyHole</a></h1>
        </li>
          <li class="toggle-topbar menu-icon"><a href="#"></a></li>
      </ul>

      <section class="top-bar-section row">
        <ul>
          <li class="has-form large-6 medium-6">
                <input type="text" class="rounded" placeholder="quick access"
                       data-dropdown="quick-access-menu" class="dropdown">
          </li>
          <li class="divider"></li>
        </ul>


        <ul class="right">
          <li class="has-dropdown">
            <a href="#">Peter Griffin</a>
            <ul class="dropdown">
              <li><a href="#">Account</a></li>
              <li><a href="#">Friends</a></li>
              <li><a href="#">Feedback</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Log out</a></li>
            </ul>
          </li>
        </ul>

      </section>
    </nav>
      <ul id="quick-access-menu" class="f-dropdown" data-dropdown-content>
          <li>
              <a href="index.html"><i class="fa fa-home"></i>&nbsp;&nbsp; Home</a>
          </li>
          <li>
              <span class="right">35 files</span>
              <a href="peter.griffin/my-folder.html"><i class="fa fa-folder"></i>&nbsp;&nbsp; My folder</a>
          </li>
          <li>
              <span class="right">86 files</span>
              <a href="peter.griffin/my-project.html"><i class="fa fa-folder"></i>&nbsp;&nbsp; My project</a>
          </li>
      </ul>
  </div>
 <div ng-controller="FileExplorerCtrl">
    <div class="row">
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">My work</a></li>
            <li class="current"><a href="#">My folder</a></li>
        </ul>
    </div>
    <div class="row">
        <dl class="sub-nav">
            <dd><a href="#"><i class="fa fa-share"></i> Share</a></dd>
            <dd><a href="#"><i class="fa fa-copy"></i> Copy</a></dd>
            <dd><a href="#"><i class="fa fa-folder-open"></i> Move</a></dd>
            <dd><a href="#"><i class="fa fa-trash-o"></i> Delete</a></dd>
        </dl>
    </div>
    <div class="row">
        <table class="large-12 small-12">
          <thead>
            <tr>
              <th width="10"></th>
              <th width="auto">Name</th>
              <th width="75">Size</th>
              <th width="150">Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="file in files">
              <td><input type="checkbox"></td>
              <td>{{ file.name }}</td>
              <td>{{ file.size }}</td>
              <td><a href="dashboard.html">{{ file.owner }}</a></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="row">
        <dl class="sub-nav">
            <dd><a href="#"><i class="fa fa-share"></i> Share</a></dd>
            <dd><a href="#"><i class="fa fa-copy"></i> Copy</a></dd>
            <dd><a href="#"><i class="fa fa-folder-open"></i> Move</a></dd>
            <dd><a href="#"><i class="fa fa-trash-o"></i> Delete</a></dd>
        </dl>
    </div>
</div>
<footer>
  <div class="top-bar" data-topbar>
  </div>
  <div class="row collapse monitoring-panel" ng-controller="MonitorCtrl">
      <div class="large-6 columns left-panel">
          <h3>Notifications</h3>
          <div class="panel panel-content callout radius" ng-repeat="notification in notifications">
              <span class="right close"><i class="fa fa-times"></i></span>
              <h5>{{ notification.title }}</h5>
              <p>{{ notification.content }}</p>
          </div>
      </div>
      <div class="large-6 columns right-panel">
          <h3>Usage</h3>
          <div class="panel-content">
              <canvas id="usage-chart" height="200px"></canvas>
          </div>
      </div>
  </div>
</footer>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>